@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	@apply overflow-x-clip;
}

body {
	@apply overscroll-none bg-[#fefefe] text-neutral-900 antialiased dark:bg-[#040404] dark:text-neutral-100;
}

#__next {
	@apply absolute inset-0 overflow-x-clip;
}

#__next::before {
	content: '';
	background: url(/grain.jpeg) repeat center center;
	background-size: 50%;
	@apply fixed inset-0 -z-10 opacity-[0.03] dark:opacity-[0.018];
}
